.[testutils,spelling]
# astroid dependency is also defined in pyproject.toml
astroid @ git+https://github.com/jacobtylerwalls/astroid.git@12d1f6c264c23b263c9118a8587cb72d3e9897a3  # Pinned to a specific version for tests
typing-extensions~=4.8
py~=1.11.0
pytest~=7.4
pytest-benchmark~=4.0
pytest-timeout~=2.2
towncrier~=23.6
requests
# Voluntary for test purpose, not actually used in prod, see #8904
setuptools==41.6.0
