.[testutils,spelling]
# astroid dependency is also defined in pyproject.toml
astroid @ git+https://github.com/jacobtylerwalls/astroid.git@faef788dfb14175458b4a8cf810edb9d1e44c726
typing-extensions~=4.11
py~=1.11.0
pytest~=7.4
pytest-benchmark~=4.0
pytest-timeout~=2.3
towncrier~=23.11
requests
# Voluntary for test purpose, not actually used in prod, see #8904
setuptools==41.6.0
